<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/card.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <title>Product</title>
</head>
<body>
    <header id="desktopHeader">
        <img id="logo" src="/images/logo.png" alt="">
        <div style="display: flex;flex-direction: row;">
            <div style="position: relative;width: 50%;height: 5vh;margin-right: 16px;">
                <input id="filter" type="text" placeholder="Search">
                <i class="bi bi-search"></i>
                <div class="dropDowns" id="results">
                    <ul id="list"></ul>
                </div>
                <div class="dropDowns" id="accountDropdown">
                    <a href="/login"><p>Login</p></a>
                    <a href="/track"><p>Track Orders</p></a>
                </div>
            </div>

            <div id="headerIconsDiv">
                <div class="headerIcons">
                    <i  class="bi bi-person-circle"></i>
                </div>
                <div class="headerIcons">
                    <a href="/cart"><i class="bi bi-cart4"></i></a>
                </div>
            </div>
        </div>
    </header>

    
    <h1 class="title">Product</h1>
    <section id="content">
        <div id="imgSection">
            <img class="productImageMain" src="/images/<%= image %>"alt="">
            <div id="imgCollection">
                <div id="images" style="display: none;"><%= images %></div>    
            </div>
        </div>
        <div class="productInfo">
            <h2 class="productNameMain"><%= catalogue %></h2>
            <h3 class="productNameMain"><%= type %></h3>
            <p class="productDescMain">
                <%= description %>
            </p>
            <h2 class="productPriceMain"><%= price %></h2>
            <h4 style="margin: 0px;margin-bottom: 0px;">Available colors:</h4>
            <div id="colorSection">
                <div id="colorsData" style="display: none;"><%= colors %></div>
            </div>
            <div class="btnDiv">
                <button class="CTOs" id="continueBtn">Continue shopping</button>
                <button class="CTOs" id="cartBtn">Add to cart</button>
            </div>
            <div style="display: none;" id="items"><%= items %></div>
        </div>
    </section>
    <footer id="footer">
        <img id="footerLogo" src="/images/logo.png" alt="">
        <div id="footerLinks">
            <a  href="/"><p class="footerLink">Boob Tapes</p></a>
            <p class="separator">|</p>
            <a  href="/"><p class="footerLink">Bunny Ears</p></a>
            <p class="separator">|</p>
            <a href="/"><p class="footerLink">Nipple covers</p></a>
            <p class="separator">|</p>
            <a href="/"><p class="footerLink">Sex Toys</p></a>
        </div>
        <div id="contacts">
            <a href="https://wa.me/254707088266" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="https://www.instagram.com/bralessnation_/" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="mailto:wanjirumwaura465@gmail.com" target="_blank"><i class="bi bi-envelope-at"></i></a>  
        </div>
    </footer>
    <footer id="lowerFooter"> Designed and developed by<span style="margin-left: 8px;color: rgb(228, 228, 228);text-decoration: underline;"> <a href="https://wa.me/254769819306">webGuy.</a> </span> </footer>
      <script>
            let continueBtn = document.getElementById('continueBtn')
            let productImageMain = document.getElementsByClassName('productImageMain').item(0)
            let imgCollection = document.getElementById('imgCollection')
            let otherImgDiv = document.getElementById('otherImgDiv')
            let images = JSON.parse(document.getElementById('images').innerText)
            let colors = JSON.parse(document.getElementById('colorsData').innerText)
            let addCartBtn = document.querySelector('#cartBtn')
            const item = JSON.parse(document.querySelector('#items').innerText) 
            let cartItems = []
            async function getCartItems(){
                let response = await fetch('/addCart')
                cartItems = await response.json()
            }
            getCartItems()
            continueBtn.addEventListener('click',()=>{
                window.location.href='/'
            })
            addCartBtn.addEventListener('click', async()=>{
                if(cartItems.some(cartItem=>cartItem._id===item._id)) return
                cartItems.push(item)
                await fetch('/addCart',{
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json',
                    },
                    body:JSON.stringify({cartItems:cartItems}),
                })
            })
            images.forEach((image)=>{
                imgCollection.innerHTML+=`
                <img class="otherImg" src="/images/${image}" alt="">
                `
            })
            colors.forEach((color)=>{
                let colorDiv = document.createElement('div')
                colorDiv.classList.add('colorDiv')
                colorDiv.innerHTML+=`
                    <div class='colorCode' style='background-color:${color.colorCode}'>..</div>
                    <h3 class='colorName'>${color.colorName}</h3>
                `
                document.getElementById('colorSection').appendChild(colorDiv)
            })
            let otherImg = document.querySelectorAll('.otherImg')
            otherImg.forEach((image)=>{
                image.addEventListener('click',()=>{
                    let src =image.getAttribute('src')
                    productImageMain.setAttribute('src',src)
                    otherImg.forEach((otherImage) => {
                    otherImage.style.borderColor = 'transparent';
                    });
                    image.style.borderColor = '#eb4871'
                })
            })
      </script>
      <script src="/js/header.js"></script>
</body>
</html>