<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/product.css" type="text/css">
    <link rel="stylesheet" href="/css/card.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <title>Product</title>
</head>
<body>
    <header id="desktopHeader">
        <img id="logo" src="/images/logo.png" alt="">
        <div style="display: flex;flex-direction: row;">
            <div style="position: relative;width: 50%;height: 5vh;margin-right: 16px;">
                <input id="filter" type="text" placeholder="Search">
                <i class="bi bi-search"></i>
                <div class="dropDowns" id="results">
                    <ul id="list"></ul>
                </div>
                <div class="dropDowns" id="accountDropdown">
                    <a href="/login"><p>Login</p></a>
                    <a href="/track"><p>Track Orders</p></a>
                </div>
            </div>

            <div id="headerIconsDiv">
                <div class="headerIcons">
                    <i  class="bi bi-person-circle"></i>
                </div>
                <div class="headerIcons">
                    <a href="/cart"><i class="bi bi-cart4"></i></a>
                </div>
            </div>
        </div>
    </header>

    
    <h1 class="title">Product</h1>
    <section id="content">
        <div id="imgSection">
            <img class="productImageMain" src="/<%= image %>"alt="">
            <div id="imgCollection">
                <div id="images" style="display: none;"><%= images %></div>    
            </div>
        </div>
        <div class="productInfo">
            <h2 class="productNameMain"><%= catalogue %></h2>
            <h3 class="productNameMain"><%= type %></h3>
            <p class="productDescMain">
                <%= description %>
            </p>
            <h2 class="productPriceMain"><%= price %></h2>
            <div style="display: flex;align-items: center;" >
                <div class="icons"></div>
                lorem
            </div>
            <div style="display: flex;align-items: center;" >
                <div class="icons"></div>
                lorem
            </div>
            <div style="display: flex;align-items: center;" >
                <div class="icons"></div>
                lorem
            </div>
            <div class="btnDiv">
                <button class="continueBtn">Continue shopping</button>
                <button class="cartBtn">Add to cart</button>
            </div>
        </div>
    </section>
    <script src="/js/script.js"></script>
      <script>
            let productImageMain = document.getElementsByClassName('productImageMain').item(0)
            let imgCollection = document.getElementById('imgCollection')
            let otherImgDiv = document.getElementById('otherImgDiv')
            let images = document.getElementById('images').innerText
            images=JSON.parse(images)
            images.forEach((image)=>{
                imgCollection.innerHTML+=`
                <img class="otherImg" src="${image}" alt="">
                `
            })
            let otherImg = document.querySelectorAll('.otherImg')
            otherImg.forEach((image)=>{
                image.addEventListener('click',()=>{
                    let src =image.getAttribute('src')
                    productImageMain.setAttribute('src',src)
                    otherImg.forEach((otherImage) => {
                    otherImage.style.borderColor = 'transparent';
                    });
                    image.style.borderColor = 'green'
                })
            })

            async function getProducts(){
            let response = await fetch(`/products/addOns`)
            let result =await response.json()
            productDisplay(result,'addOns')
            }
            getProducts()
      </script>
</body>
</html>